@model IEnumerable<StudentCourses.Model.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                    <button class="btn btn-primary"><a class="nav-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button> |
                    <button class="btn btn-success"><a class="nav-link" asp-action="Details" asp-route-id="@item.Id">Details</a></button> |
                    <button class="btn btn-danger"><a class="nav-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
